---
import Header from "../components/CustomHeader.astro";
import Loading from "../components/Loading.astro";
import "../styles/global.css";
import "../styles/blog.css";
export interface Props {
  title: string;
  currentPage: string;
  description?: string;
  image?: string;
  type?: "website" | "article";
}

const {
  title,
  currentPage,
  description = "The portfolio website of Emjshrx",
  image = "/img/thumbnail.png",
  type = "website",
} = Astro.props;

const siteName = "Emjshrx";
const titleSuffix = " — Developer, Designer & Hodler";
const fullTitle =
  title.length >= 50
    ? title
    : title.includes("Emjshrx's Portfolio")
      ? `${title}${titleSuffix}`
      : `${title} | ${siteName}${titleSuffix}`;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const imageURL = new URL(image, Astro.site);
const completedPages = ["Home", "About"];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{fullTitle}</title>
    <meta name="title" content={fullTitle} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta property="og:type" content={type} />
    <meta property="og:site_name" content={siteName} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={fullTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imageURL} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={fullTitle} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={imageURL} />
  </head>
  <body class="flex bg-white flex-col lg:h-screen">
    <div
      id="loadingSplash"
      class={`${
        completedPages.includes(currentPage) ? "" : "hidden"
      } bg-green h-full w-full fixed z-50 flex items-center justify-center`}
    >
      <Loading />
    </div>
    <div class="grow-0 shrink-0 sticky top-0 z-40">
      <Header currentPage={currentPage} />
    </div>
    <div class="grow shrink min-h-0 z-0"><slot /></div>
  </body>
</html>
